<ng-container *ngIf="media && media?.length > 0; else noMedia">
    <ng-container *ngIf="!mobileView; else mobileImageGalleryItem">
        <gallery
            *ngIf="media.length > 1"
            class="w-full h-full"
            [id]="galleryId"
            (itemClick)="openLightbox($event)"
        ></gallery>

        <img
            *ngIf="media.length == 1 && (media[0] | firebaseImage | async) as image"
            class="w-full h-full single-gallery-image cursor-pointer"
            (click)="openLightbox()"
            [ngStyle]="{
                background: 'url(' + image.thumb + ') 50% 50% no-repeat',
                'background-size': 'contain'
            }"
            [src]="image.src"
        />
    </ng-container>

    <ng-template #mobileImageGalleryItem>
        <img
            *ngIf="media[0] | firebaseImage | async as image"
            id="single-image"
            class="img-fluid"
            [ngStyle]="{
                background: 'url(' + image.thumb + ') 50% 50% no-repeat',
                'background-size': 'contain'
            }"
            [src]="image.thumb"
        />
        <ng-content></ng-content>
    </ng-template>
</ng-container>

<ng-template #noMedia>
    <div>
        <img id="placeholder" *ngIf="!media || media?.length == 0" src="assets/placeholders/PlaceholderProductImage.svg" />
        <ng-content></ng-content>
    </div>
</ng-template>
