<div class="fixed w-full top-0 z-[100] opacity-60 flex flex-col justify-between gap-4 bg-zinc-600 h-[200px]">
    <div class="flex justify-between">
        <div class="text-white">Hrabre Njuske</div>
        <div class="text-white">Face, Insta, Twit, etc</div>
    </div>
    <div class="flex flex-row-reverse gap-2">
        <div class="text-white">Početna</div>
        <div class="text-white">Aukcije</div>
        <div class="text-white">Merch</div>
        <div class="text-white">Udomi</div>
    </div>
</div>

<gallery [items]="carouselImages"></gallery>

<div class="h-[400px] bg-red-300">adopt</div>
<div class="h-[400px] bg-yellow-300">looking for new comp</div>
<div class="h-[400px] bg-green-300">blog stuff, druge mreze</div>
<div class="h-[400px] bg-fuchsia-400">partneri</div>
<div class="h-[400px] bg-blue-300">footer</div>
