
<div class="container" fxLayout="column" fxLayoutAlign="center start">
    
    <button class="close-btn" mat-icon-button fxFlexAlign="end" (click)="onClose()">
        <mat-icon>
            close
        </mat-icon>
    </button>

    <mat-form-field class="mb-4" fxFlex="2 1 100%">
        <mat-label>Detalji preuzimanja</mat-label>
        <input matInput [formControl]="handoverDetails">
    </mat-form-field>

    <button fxFlexAlign="end" mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!handoverDetails.valid">Spremi</button>
</div>
