.item {
    min-width: 25rem;
}

@media (max-width: 600px) {
    .item {
        min-width: calc(100vw - 2rem);
    }

    .single-item {
        ::ng-deep {
            mat-card {
                width: calc(100vw - 2rem);
            }
        }
    }
}
