@use "@angular/material" as mat;
@import "./material.theme.scss";

.mat-mdc-form-field {
  width: 100% !important;
}

.auction-item-media-dropzone {
  border: 2px solid rgba(0, 0, 0, 0.12) !important;
  border-radius: 8px;
  box-sizing: border-box;

  &:hover {
    // transform: scale(1.01);
    // transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 2px solid mat.get-color-from-palette($theme-light-primary, default) !important;
  }

  &:focus,
  &:active,
  &:visited {
    border: 2px solid mat.get-color-from-palette($theme-light-primary, default) !important;
  }
}

.mat-mdc-card {
  display: flex;
  flex-direction: column;
}

.mat-mdc-card-header {
  flex-shrink: 0;
}

.mat-mdc-card-content {
  flex-grow: 1;
  overflow: auto;
}

.mat-mdc-card-actions {
  margin-right: 0;
}

.close-btn {
  position: relative;
  bottom: 1rem;
  left: 1rem;
}
