<div class="container" #scrollingBlock [ngClass]="{'mt-4': mediaObs.isActive('lt-sm')}" *ngIf="(auction$ | async) as auction" fxLayout="column" fxLayoutGap="1rem">

    <div fxLayout="row">
        <div class="section" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem"
        fxFlex="45%" fxFlex.lt-md="100%">
            <div class="mb-0 bold"  [ngClass]="{
                'mat-headline': mediaObs.isActive('gt-md'), 
                'mat-title': mediaObs.isActive('lt-lg'),
                'mat-body': mediaObs.isActive('lt-sm') 
            }" >
                <!-- {{auction.name}} -->
            </div>
            <countdown *ngIf="config" #cd [config]="config" class="m-0 bold" [ngClass]="{
                'mat-headline': mediaObs.isActive('gt-md'), 
                'mat-title': mediaObs.isActive('lt-lg'),
                'mat-body': mediaObs.isActive('lt-sm')
            }" ></countdown>
        </div>
    </div>
    
    <app-item-list [auctionId]="auction.id" [parentScroll]="scrollingBlock"></app-item-list>
</div>