<div [ngClass]="{'mt-4': mediaObs.isActive('lt-sm')}" *ngIf="(auction$ | async) as auction" fxLayout="column" fxLayoutGap="1rem">

    <div fxLayout="row">
        <div class="section" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem"
        fxFlex="45%" fxFlex.lt-md="100%">
            <div [ngClass]="{'mat-title': mediaObs.isActive('lt-sm'), 'mat-headline': mediaObs.isActive('gt-xs')  }" class="m-0 bold" >{{auction.name}}</div>
            <countdown class="m-0 bold" [ngClass]="{'mat-title': mediaObs.isActive('lt-sm'), 'mat-headline': mediaObs.isActive('gt-xs')  }" *ngIf="config" #cd [config]="config"></countdown>
        </div>
    </div>
    
    <app-item-list [auctionId]="auction.id"></app-item-list>
</div>