<div class="w-100" fxLayout="column">
  <button fxFlex fxFlexAlign="end" mat-icon-button (click)="onClose()">
    <mat-icon>
        close
    </mat-icon>
</button>
</div>

<div class="mt-3 mb-3" >

  <mat-card id="winner" *ngFor="let winner of winners" class="elevate hover selected mt-2">
    <mat-card-header>
      <mat-card-title fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="mr-2" style="color: #f9d935">emoji_events</mat-icon> {{ winner.userInfo.name }}
      </mat-card-title>
      <mat-card-subtitle>{{ winner.userInfo.email }}</mat-card-subtitle>
      <mat-card-subtitle>{{ winner.userInfo.phoneNumber }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="column" fxLayoutGap="0.5rem">

      <div id="delivery" class="mat-small" fxLayout="row" fxLayoutGap="0.5rem">
        <label class="pb-0 bold center">Ukupna donacija</label>
        <label class="foreground primary lighter"> {{ getTotalDonations(winner) }} kn</label>
      </div>

      <div id="delivery" class="mat-small" fxLayout="row" fxLayoutGap="0.5rem">

        <label class="pb-0 bold center">Odabir dostave:</label>
        <ng-container [ngSwitch]="winner.deliveryChoice">

          <label *ngSwitchCase="'handover'" class="foreground warn default">
            Osobno
            <button mat-icon-button color="warn" *ngIf="winner.handoverOption"
              (click)="openHandoverInformation(winner.handoverOption)" matTooltip="{{winner.handoverOption}}">
              <mat-icon>location_on</mat-icon>
            </button>
          </label>

          <label *ngSwitchCase="'postal'" style="color: #c326ff">
            Poštom
            <button mat-icon-button *ngIf="winner.postalInformation"
              (click)="openPostalInformation(winner.postalInformation)" matTooltip="Detalji za slanje">
              <mat-icon>drafts</mat-icon>
            </button>
          </label>
          <label *ngSwitchDefault class="foreground primary lighter"> Nije odabrano </label>
        </ng-container>
      </div>

      <div id="items" class="mat-small" fxLayout="row" fxLayoutGap="0.5rem">
        <label class="pb-0 bold center">Osvojeni predmeti:</label>
        <button mat-icon-button color="warn"
          (click)="openWonItems(winner.items)" matTooltip="Osvojeni predmeti">
          <mat-icon>shopping_basket</mat-icon>
        </button>
      </div>

      <div id="payment" class="mat-small pb-0" fxLayout="row" fxLayoutGap="0.5rem">

        <label class="pb-0 bold center">Status plaćanja:</label>
        <mat-button-toggle-group [value]="winner.paymentStatus" (change)="markPaymentStatus($event, winner)">
          <mat-button-toggle value="paid" class="foreground primary lighter">Plaćeno</mat-button-toggle>
          <mat-button-toggle value="pending">U toku</mat-button-toggle>
          <mat-button-toggle value="notpaid" class="foreground warn default">Nije plaćeno</mat-button-toggle>
        </mat-button-toggle-group>
      </div>


    </mat-card-content>
  </mat-card>

  <i *ngIf="!winners || winners.length == 0" class="w-100 text-center">Nema pobjednika</i>
</div>
