<div class="container" fxLayout="column" fxLayoutAlign="start start">
  <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="mat-h2 m-0 bold">Izmjena e-maila</div>

    <button mat-icon-button fxFlexAlign="end" (click)="onClose()">
      <mat-icon> close </mat-icon>
    </button>
  </div>

  <div *ngIf="message" class="mt-3 w-100">{{ message }}</div>

  <div class="mt-3 mb-3 w-100" fxLayout="column" fxLayoutGap="0.5rem">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [formControl]="email" />
    </mat-form-field>

    <button
      fxFlexAlign="end"
      mat-flat-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="!email.valid"
    >
      Promijeni
    </button>
  </div>
</div>
