<div class="container flex flex-col">
  <h1 fxAlign="center" class="mb-3">Pravila aukcije</h1>

  <ul>
    <li>U Aukciji mogu sudjelovati samo punoljetne osobe.</li>
    <li>
      Ponude nije moguće brisati. Ako niste spremni izdvojiti određenu svotu za
      predmet, molimo vas da ne dajete ponude.
    </li>
    <li>
      Klikom na "Moji predmeti" prikazat će se popis predmeta za koje ste
      trenutno ponudili najveću ponudu te premeti za koje je netko drugi dao
      veću ponudu od vaše.
    </li>
    <li>
      Nakon završetka aukcije primit ćete mail sa svim podacima o osvojenim
      predmetima i slanju/primopredaji istih.
    </li>
    <li>
      Ako osoba ne odgovori na navedeni mail u roku 7 dana od završetka aukcije,
      ne uplati donaciju i ne javi se za preuzimanje/slanje - nema pravo više
      sudjelovati u Aukciji, a njeni predmeti se vraćaju u aukciju.
    </li>
    <li>
      Ako se pošiljka vrati, moguće ju je ponovno poslati uz novu uplatu za
      poštarinu ili predmete vraćamo u aukciju, po želji donatora.
    </li>
    <li>
      Za sva eventualna pitanja se obratite na službeni mail udruge:
      <b>hrabrenjuske@gmail.com</b> ili <b>app.hrabrenjuske@gmail.com</b>
    </li>
  </ul>
</div>
