<div class="container" fxLayout="column" fxLayoutAlign="center start">
    <button class="close-btn" mat-icon-button fxFlexAlign="end" (click)="onClose()">
        <mat-icon>
            close
        </mat-icon>
    </button>
    <div class="container" fxLayout="row" fxLayoutAlign="center center" >
        <textarea disabled id="email_clipboard" cols="31" rows="1" [(ngModel)]="value"></textarea>
        <button         
            matTooltip="Kopiraj"
            [cdkCopyToClipboard]="value"><mat-icon>
               content_copy
        </mat-icon></button>
    </div>
</div>

