<div fxLayout="column" fxLayoutGap="1rem">

    <div class="auction-form" flexLayout="row">
        <div class="section" fxFlex="45%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutGap="1rem">
            <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between center">
                <h1>Aukcija</h1>
                <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!isValid">Spremi</button>
            </div>

            <form [formGroup]="auction">
                <div fxLayout="row wrap" fxLayoutGap="1rem">
                    <mat-form-field fxFlex="2 1 100%">
                        <mat-label>Naziv</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>

                    <mat-form-field fxFlex="1 2 100%">
                        <mat-label>Trajanje aukcije</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matInput matStartDate placeholder="Početak" formControlName="startDate">
                            <input matInput matEndDate placeholder="Kraj" formControlName="endDate">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker [touchUi]="isMobile">
                        </mat-date-range-picker>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>

    <div class="items-form" fxLayout="column" fxLayoutGap="1rem" [ngClass]="{'mb-5': !isMobile}">

        <div class="items-header" fxLayout="row">
            <div class="section" fxFlex="45%" fxFlex.lt-md="100%" fxLayout="row" fxLayoutGap="1rem"
                fxLayoutAlign="space-between center">
                <h1>Predmeti</h1>
                <button *ngIf="!isMobile" mat-flat-button color="primary" type='button'
                    (click)="addItem()">Dodaj</button>
            </div>
        </div>

        <form [formGroup]="items">
            <div class="grid" gdGap="1rem" gdColumns="repeat(2,minmax(0, 1fr))"
                gdColumns.gt-lg="repeat(3, minmax(0, 1fr))" gdColumns.lt-md="minmax(0, 1fr)">

                <div formArrayName="items" *ngFor="let item of itemsArr.controls; let i = index">
                    <form [formGroupName]="i">
                        <mat-card class="mat-elevation-z5" fxLayout="column" fxLayoutGap="1rem">

                            <!-- <button mat-icon-button (click)="removeItem(i)">
                                <mat-icon> delete </mat-icon>
                            </button> -->
                            <mat-card-title class="header">

                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
                                    <mat-form-field>
                                        <mat-label>Naziv</mat-label>
                                        <input matInput formControlName="name">
                                    </mat-form-field>

                                    <button mat-icon-button class="relative" color="warn" style="bottom: 0.75rem" (click)="removeItem(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>

                                <mat-form-field>
                                    <mat-label>Početna cijena</mat-label>
                                    <input matInput type="number" step="1" value='0.00' formControlName="startPrice">
                                    <span class="ml-1" matSuffix>kn</span>
                                </mat-form-field>

                            </mat-card-title>


                            <div fxLayout="column" fxLayoutGap="1rem">
                                <!--Description input-->
                                <div class="media">

                                    <mat-progress-bar *ngIf="(uploadStates$[i] | async)" mode="indeterminate">
                                    </mat-progress-bar>

                                    <ngx-dropzone class="auction-item-media-dropzone pb-0"
                                        (change)="uploadFiles($event, i)" [disableClick]="dragActive">

                                        <ngx-dropzone-label *ngIf="files[i].length == 0">
                                            <button mat-stroked-button type='button'>Učitaj</button>
                                        </ngx-dropzone-label>

                                        <drag-scroll class="form-drag-scroll" *ngIf="files[i].length > 0"
                                            [drag-scroll-y-disabled]="true" [snap-disabled]="true"
                                            (dragStart)="dragActive=true" (dragEnd)="dragEnd()" fxLayout="row">

                                            <div class="item" drag-scroll-item *ngFor="let file of files[i]">

                                                <ng-container *ngIf="(file.path | getDownloadURL) as url">
                                                    <img *ngIf="file.type == 'image'" [src]="url" />
                                                    <video *ngIf="file.type == 'video'" [src]="url"></video>
                                                    <button id="remove-file-btn" type="button" mat-icon-button
                                                        color="accent" (click)="removeFile(i, file, url, $event)">
                                                        <mat-icon>close</mat-icon>
                                                    </button>
                                                </ng-container>

                                            </div>

                                            <!-- </div> -->
                                        </drag-scroll>

                                    </ngx-dropzone>
                                </div>

                                <quill-editor class="editor" [placeholder]="'Opis predmeta'"
                                    formControlName="description"></quill-editor>

                                <!-- <mat-form-field>
                                    <mat-label>Opis predmeta</mat-label>
                                    <textarea matInput formControlName="description" [rows]="isMobile ? 5 : 10"></textarea>
                                </mat-form-field> -->
                            </div>
                        </mat-card>
                    </form>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="isMobile" class="form-actions mb-2">
        <button class="w-100" mat-flat-button color="primary" (click)="addItem()">Dodaj</button>
    </div>
</div>