.items {
    width: 100vw !important;
    height: 95vh !important;
}


.container {
    position: relative;

    height: 93vh !important;
    // height: calc(93vh + 33px) !important;
    overflow: hidden;


}
