<div id="bulk-image-form" class="container flex flex-col gap-4" #scrollingBlock>
  <form
    [formGroup]="auction"
    class="mt-5 auction-form section grid grid-cols-1 md:grid-cols-2 gap-8"
  >
    <div id="basic-data" class="flex flex-col gap-4">
      <div class="flex flex-row gap-4 justify-between items-center">
        <h1>Aukcija</h1>
        <button
          mat-flat-button
          color="primary"
          (click)="onSubmit()"
          [disabled]="!isValid"
        >
          Spremi
        </button>
      </div>

      <div class="flex flex-row flex-wrap gap-4">
        <mat-form-field class="flex-[2_1_100%]">
          <mat-label>Naziv</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field class="flex-[1_2_100%]">
          <mat-label>Trajanje aukcije</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matInput
              matStartDate
              placeholder="Početak"
              formControlName="startDate"
            />
            <input
              matInput
              matEndDate
              placeholder="Kraj"
              formControlName="endDate"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker [touchUi]="isMobile">
          </mat-date-range-picker>
        </mat-form-field>

        <div
          class="w-full flex flex-row flex-wrap gap-2 sm:gap-4 md:gap-8 lg:gap-12"
        >
          <div id="start-time" class="flex flex-row gap-2">
            <label class="center pb-0 mb-0" for="startTime">Početak:</label>
            <ngx-mat-timepicker-field
              [defaultTime]="'12:00 PM'"
              [format]="24"
              formControlName="startTime"
            ></ngx-mat-timepicker-field>
          </div>
          <div id="end-time" class="flex flex-row gap-2">
            <label class="center pb-0 mb-0" for="endTime">Kraj:</label>
            <ngx-mat-timepicker-field
              [defaultTime]="'12:00 PM'"
              [format]="24"
              formControlName="endTime"
            ></ngx-mat-timepicker-field>
          </div>
        </div>
      </div>
    </div>

    <div id="description" class="flex flex-col gap-4">
      <div class="mat-h2 bold">Opis aukcije</div>
      <textarea
        class="editor w-full p-1 mat-typography"
        [placeholder]="'Opis predmeta'"
        formControlName="description"
      ></textarea>
    </div>
  </form>

  <div class="items-form h-full flex flex-col gap-4">
    <div class="items-header flex flex-row">
      <div class="section flex flex-row gap-4 justify-between">
        <h1>Slike</h1>
      </div>
    </div>

    <div id="dropzone" class="flex flex-row">
      <div class="media w-full flex-[1_1_100%]">
        <mat-progress-bar
          *ngIf="uploadState$ | async"
          mode="indeterminate"
        ></mat-progress-bar>

        <ngx-dropzone
          class="auction-item-media-dropzone pb-0"
          (change)="uploadFiles($event)"
          [disableClick]="dragActive"
          [expandable]="true"
        >
          <ngx-dropzone-label *ngIf="files?.length == 0">
            <button mat-stroked-button type="button">Učitaj</button>
          </ngx-dropzone-label>

          <div class="item-image" drag-scroll-item *ngFor="let file of files">
            <ng-container *ngIf="file.urlOrig as url">
              <img *ngIf="file.type == 'image'" [src]="url" />
              <video *ngIf="file.type == 'video'" [src]="url"></video>
              <button
                id="remove-file-btn"
                type="button"
                mat-icon-button
                color="warn"
                (click)="removeFile(file, url, $event)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </ng-container>
          </div>

          <!-- </drag-scroll> -->
        </ngx-dropzone>
      </div>
    </div>
  </div>
</div>
