.header {
  font-size: 14px !important;
}

virtual-scroller {
  width: 100%;
  height: 100%;
}

ngx-dropzone {
  overflow: hidden;

  drag-scroll {
    overflow-y: hidden;
  }
}

.form-drag-scroll {
  height: 100%;
  width: 100%;
  padding: 0;

  .drag-scroll-content {
    width: 100% !important;
  }
}

.container {
  height: calc(100% - 56px) !important;
}

.auction-item-media-dropzone {
  @apply grid grid-cols-5 gap-8 border-2 border-solid border-gray-400 rounded-lg;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    @apply border-teal-400;
  }
}

#uploadBtn {
  @apply absolute justify-self-center self-center;
}

.item-image {
  @apply relative shadow-md;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
  width: 100%;

  &:hover {
    @apply shadow-xl;
  }

  img,
  video {
    @apply w-40 h-auto;
  }

  #remove-file-btn {
    border-radius: 100%;
    background: #ff0;
    margin: 5px;
    color: red !important;
    position: absolute;
    z-index: 1;
    right: 1px;
    top: 1px;

    &:hover {
      @apply shadow-md;
    }
  }
}
