:host {
    height: 100%;
}

virtual-scroller {
    width: 100%;
    height: 100%;
}

.item {
    // position: relative;
    // height: 350px;
    // width: 350px;

    media-gallery {
        height: 100%;
        width: 100%;
    }
}
