<virtual-scroller
    #itemsScroller
    class="full-items-grid"
    *ngIf="!(isMobile$ | async) || !useGallery; else gallery"
    #scroll
    [items]="items"
    [parentScroll]="parentScroll"
    [enableUnequalChildrenSizes]="enableUnequalChildrenSizes"
    (vsEnd)="onLoadMore($event)"
>
    <div #container class="items-grid">
        <app-item-details
            class="item"
            *ngFor="let item of scroll.viewPortItems; trackBy: trackByFn"
            [auction]="auction"
            [item]="item"
            [trackedItems]="userTrackedItems"
        ></app-item-details>
    </div>
</virtual-scroller>

<ng-template #gallery>
    <app-item-gallery
        [auction]="auction"
        [items]="items"
        [parentScroll]="parentScroll"
        (loadMore)="onLoadMore($event)"
    ></app-item-gallery>
</ng-template>
