<ng-container *ngIf="dbMedia && dbMedia?.length > 0; else noMedia">

    <ng-container *ngIf="!onlyFirst; else singleMedia">
      <gallery *ngIf="dbMedia.length > 1" class="w-100 h-100" [id]="galleryId" (itemClick)="openLightbox($event)"></gallery>
      <img *ngIf="dbMedia.length == 1" class="w-100 h-100 single-gallery-image pointer" [src]="dbMedia[0].url" (click)="openLightbox()"/>
    </ng-container>


    <ng-template #singleMedia>
        <div>
            <img id="single-image" class="img-fluid" [src]="mobileImageUrl" />
            <ng-content></ng-content>
        </div>
    </ng-template>
</ng-container>

<ng-template #noMedia>
    <img id="placeholder" *ngIf="!dbMedia || dbMedia?.length == 0" src="assets/placeholders/PlaceholderProductImage.svg" />
</ng-template>


