<div *ngIf="bootstrap && success" class="container" fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="start center">
    <div class="animation-ctn">
        <div class="icon icon--order-success svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="154px" height="154px">
              <g fill="none" stroke="#22AE73" stroke-width="2">
                <circle cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
                <circle id="colored" fill="#22AE73" cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
                <polyline class="st0" stroke="#fff" stroke-width="10" points="43.5,77.8 63.7,97.9 112.2,49.4 " style="stroke-dasharray:100px, 100px; stroke-dashoffset: 200px;"/>
              </g>
            </svg>
          </div>
    </div>

    <h3 style="text-align: center" *ngIf="optout == 'bidchange'">Uspješno ste se odjavili od dobivanja e-maila o nadmašenim ponudama !</h3>
    <h3 style="text-align: center" *ngIf="optout == 'auctionannouncements'">Uspješno ste se odjavili od dobivanja novosti o aukcijama !</h3>
</div>

<div *ngIf="bootstrap && !success" class="container mt-5" fxLayout="column" fxLayoutAlign="start center">
    <h3>Nešto je pošlo po zlu i nismo te mogli odjaviti od dobivanja e-maila.</h3>
    <h3>Molim vas kontaktirajte nas putem korisničku službe na app.hrabrenjuske@gmail.com ! </h3>
</div>
