<div
  @fadeIn
  class="h-100"
  fxLayout="column"
  fxLayoutGap="2.5rem"
  fxLayoutAlign="space-between center"
>
  <div
    *ngIf="text"
    fxFlex
    fxFlexAlign="center"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="mb-3 mr-0">
      <b>Pomoći možete i na druge načine:</b>
      <ul>
        <li>Donacijom potrepština za životinje</li>
        <li>
          Donacijom predmeta za buduće aukcije - javite nam se putem društvenih
          mreža ili na mail hrabre.njuske@gmail.com
        </li>
        <li>Direktnom uplatom na račun udruge uz naznaku "donacija".</li>
      </ul>
    </div>
  </div>

  <div
    class="pb-1 payment"
    fxLayout="column"
    fxLayoutGap="0.5rem"
    [ngClass]="{
      'w-80': mediaObs.isActive('gt-sm'),
      'w-100': mediaObs.isActive('lt-md')
    }"
  >
    <div
      *ngFor="let account of accounts$ | async"
      class="section"
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayoutAlign="start center"
    >
      <img class="img-fluid" [src]="account.image" />
      <div class="m-0" [ngClass]="{ 'mat-title': mediaObs.isActive('gt-sm') }">
        {{ account.account }}
      </div>
    </div>
  </div>
</div>
