<div
  @fadeIn
  class="h-100"
  fxLayout="column"
  fxLayoutGap="2.5rem"
  fxLayoutAlign="space-between center"
>
  <div
    *ngIf="text"
    fxFlex
    fxFlexAlign="start"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="mb-3 mr-0 w-100">
      <b>Pomoći možete i na druge načine:</b>
      <ul class="primary-list">
        <li>Donacijom potrepština za životinje</li>
        <li>
          Donacijom predmeta za buduće aukcije
          <ul class="secondary-list">
            <li>Javite nam se putem društvenih mreža</li>

            <li>
              <div fxLayout="row wrap" fxLayoutAlign="start center">
                Ili na mail:
                <app-email-copy></app-email-copy>
              </div>
            </li>
          </ul>
        </li>
        <li>
          Direktnom uplatom na račun udruge uz naznaku
          <span class="foreground warn default">"donacija".</span>
        </li>
      </ul>
    </div>
  </div>

  <div
    class="pb-1 payment"
    fxLayout="column"
    fxLayoutGap="0.5rem"
    [ngClass]="{
      'w-80': mediaObs.isActive('gt-sm'),
      'w-100': mediaObs.isActive('lt-md')
    }"
  >
    <div
      *ngFor="let account of accounts$ | async"
      class="section"
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayoutAlign="start center"
    >
      <div [ngSwitch]="account.type">
        <img
          class="img-fluid"
          src="assets/donate-logo/pbz-logo.jpg"
          *ngSwitchCase="'pbz'"
        />
        <img
          class="img-fluid"
          src="assets/donate-logo/erste.svg"
          *ngSwitchCase="'erste'"
        />
        <img
          class="img-fluid"
          src="assets/donate-logo/keks-logo.jpg"
          *ngSwitchCase="'keks'"
        />
        <img
          class="img-fluid"
          src="assets/donate-logo/revolut-logo.svg"
          *ngSwitchCase="'revolut'"
        />
        <img
          class="img-fluid"
          src="assets/donate-logo/paypal-logo.svg"
          *ngSwitchCase="'paypal'"
        />
        <img class="img-fluid" [src]="account.image" *ngSwitchDefault />
      </div>
      <div class="m-0" [ngClass]="{ 'mat-title': mediaObs.isActive('gt-sm') }">
        {{ account.account }}
      </div>
    </div>
  </div>
</div>
