img {
    height: 50px;
}

#pbz {
    img {
        height: 25px !important;
    }
}

#revolut {
    img {
        height: 45px !important;
    }
}

#paypal {
    img {
        height: 58px !important;
    }
}