<div class="container container-grid">
  <div class="auctions-grid">
    <ng-container *ngIf="auctions$ | async as auctions; else noAuctions">
      <ng-container *ngIf="auctions.length > 0; else noAuctions">
        <div @fadeIn id="auctions" fxLayout="column" fxLayoutGap="0.5rem">
          <div class="mat-h2 bold text-center" *ngIf="totalDonated">
            Trenutno sakupljeno {{ totalDonated | moneyAsync | async }}
          </div>
          <div fxLayout="row" fxLayoutGap="0.5rem">
            <button
              id="tracked-items-btn"
              mat-raised-button
              color="primary"
              *ngIf="userTracksItems$ | async"
              routerlink="/aukcije/my-items"
              class="w-100 mb-3 elevate hover-big"
              [ngClass]="{}"
              gaEvent="my_items_click"
              gaCategory="items_tracking"
            >
              Moji predmeti
            </button>

            <button
              mat-raised-button
              color="warn"
              class="w-100 mb-3 elevate hover-big"
              routerlink="/aukcije/rules"
            >
              Pravila aukcije
            </button>
          </div>

          <mat-card
            appearance="raised"
            *ngFor="let auction of auctions"
            class="pointer background lighter elevate hover"
            (click)="onClick(auction)"
            [ngClass]="{
              warn: getAuctionState(auction) == 'expired',
              primary: getAuctionState(auction) == 'future',
              pointer: getAuctionState(auction) == 'active'
            }"
          >
            <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
              <mat-card-title>
                {{ auction.name }}

                <ng-container [ngSwitch]="getAuctionState(auction)">
                  <mat-card-subtitle *ngSwitchCase="'future'">
                    {{ auction.startDate.toDate() | auctionDate : "Počinje u" }}
                  </mat-card-subtitle>
                  <mat-card-subtitle *ngSwitchCase="'expired'">
                    {{ auction.endDate.toDate() | auctionDate : "Završila u" }}
                  </mat-card-subtitle>
                  <mat-card-subtitle *ngSwitchDefault>
                    {{ auction.endDate.toDate() | auctionDate : "Traje do" }}
                  </mat-card-subtitle>
                </ng-container>
              </mat-card-title>

              <div fxLayout="row">
                <button
                  mat-raised-button
                  *ngIf="!(admin$ | async) && auction.description"
                  color="primary"
                  class="h-min"
                  (click)="onViewDescription(auction, $event)"
                >
                  Opis aukcije
                </button>
                <ng-container *ngIf="admin$ | async">
                  <button
                    mat-icon-button
                    color="primary"
                    (click)="onViewBids(auction, $event)"
                  >
                    <mat-icon>shopping_cart</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    color="primary"
                    (click)="onEdit(auction, $event)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <!-- <button mat-icon-button color="warn" (click)="onDelete(auction, $event)">
                                        <mat-icon>delete</mat-icon>
                                    </button> -->
                </ng-container>
              </div>
            </mat-card-header>
          </mat-card>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #noAuctions>
      <i *ngIf="auctionsBootstrapped" class="custom-font center mat-h2"
        >Trenutno nema aktivnih aukcija</i
      >
    </ng-template>

    <div id="donate">
      <app-donate *ngIf="auctionsBootstrapped"></app-donate>
    </div>
  </div>

  <!-- <div *ngIf="auctionsBootstrapped" @fadeIn fxFlexFill class="center background lighter warn "> Google ads ? </div> -->
</div>
