.container {
  height: unset;

  @media(max-width: 1400px) {
    #admin-actions, table {
      width: 100% !important;
    }
  }

  @media(min-width: 1400px) {
    #admin-actions, table {
      width: 70% !important;
    }
  }
}
