<virtual-scroller *ngIf="mediaObs.isActive('gt-xs') || !useGallery; else gallery" #scroll [items]="items" [parentScroll]="parentScroll" (vsEnd)="onLoadMore($event)">
    <div #container class="items-grid">
        <app-item-details *ngFor="let item of scroll.viewPortItems; trackBy: trackByFn" [item]="item" [trackedItems]="(userTrackedItems$ | async)"></app-item-details>
    </div>
</virtual-scroller>

<ng-template #gallery>
    <app-item-gallery [items]="items" [parentScroll]="parentScroll" (loadMore)="onLoadMore($event)"></app-item-gallery>
</ng-template>
