<virtual-scroller #scroll [items]="(items$ | async)" [bufferAmount]="bufferAmount">

    <div class="grid pt-2 pr-2" 
        gdGap="0.5rem"
        gdColumns="repeat(4, minmax(0, 1fr))" 
        gdColumns.lt-xl="repeat(3, minmax(0, 1fr))" 
        gdColumns.lt-lg="repeat(2, minmax(0, 1fr))" 
        gdColumns.lt-md="repeat(1, minmax(0, 1fr))" 
        gdColumns.lt-sm="minmax(0, 1fr)">

        <app-item-details *ngFor="let item of scroll.viewPortItems; trackBy: trackByFn" [item]="item"></app-item-details>

    </div>

</virtual-scroller>