virtual-scroller {
    width: 100%;
    height: 100%;
}

$maxHeight: 80px;
.media-container {
    height: $maxHeight !important;

    .media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: $maxHeight !important;
    }

    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 700px) {
    .items-gallery-grid {
  
      display: grid;
      grid-template-columns: repeat(3, minmax(0px, 1fr));
      gap: 0.25rem;
    
      padding: 0.25rem;
      padding-top: 0.5rem;
    }
  }
  