virtual-scroller {
    width: 100%;
    height: 100%;
}

.media-container {
    $maxHeight: 150px;
    max-height: $maxHeight !important;
    app-item-media {
      max-height: $maxHeight !important;
      img#single-image, img#placeholder {
        max-height: $maxHeight !important;
        height: $maxHeight !important;
      }
    }

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .items-gallery-grid {
  
      display: grid;
      grid-template-columns: repeat(2, minmax(0px, 1fr));
      gap: 0.5rem;
    
      padding: 0.25rem;
      padding-top: 0.5rem;
    }
  }
  