<virtual-scroller #scroll [items]="items" [parentScroll]="parentScroll" (vsEnd)="onLoadMore($event)">
    <div #container class="items-gallery-grid">
        <div class="media-container" *ngFor="let item of scroll.viewPortItems; trackBy: trackByFn; let idx = index">
        <!-- <div class="media-container" *ngFor="let item of items; trackBy: trackByFn"> -->
            <app-item-media class="elevate hover h-100" [first]="true" [media]="item.media" (click)="openItem(item)"></app-item-media>
        </div>
    </div>
</virtual-scroller>
