<virtual-scroller #itemsScroller class="items-gallery-grid-scroller" #scroll [items]="items"
  [parentScroll]="parentScroll" (vsEnd)="onLoadMore($event)"
  [enableUnequalChildrenSizes]="(itemScrollViewSvc.view$ | async) == 'items'">

  <div #container [ngClass]="{
    'items-gallery-grid': (itemScrollViewSvc.view$ | async) == 'grid',
    'items-grid': (itemScrollViewSvc.view$ | async) == 'items'
  }">

    <ng-container *ngIf="(itemScrollViewSvc.view$ | async) == 'grid'">
      <div class="media-container center"
        *ngFor="let item of scroll.viewPortItems; trackBy: trackByFn;">
        <app-item-media class="media elevate hover" [first]="true" [media]="item.media" (click)="openItem(item)">
          <div class="best-bid-label background warn lighter mat-small"
            *ngIf="userId == item.user && (isAuthenticated$ | async)">
            Vaša ponuda je najbolja
          </div>
        </app-item-media>
      </div>
    </ng-container>

    <ng-container *ngIf="(itemScrollViewSvc.view$ | async) == 'items'">
      <app-item-details class="item"
        *ngFor="let item of scroll.viewPortItems; trackBy: trackByFn" [auction]="auction" [item]="item" [trackedItems]="userTrackedItems">
      </app-item-details>
    </ng-container>

  </div>

</virtual-scroller>

<div *ngIf="(itemScrollViewSvc.loading$ | async)" class="backdrop mat-app-background">
  <mat-spinner class="grid-spinner"></mat-spinner>
</div>
