<article>
  <section class="tw-text-center tw-mb-4">
    <h1>Proslava 5. rođendana Hrabrih njuški</h1>
    <h3 class="tw-mb-0">
      Pridružite nam se u slavlju i podržite našu misiju brige o napuštenim
      životinjama!
    </h3>

    <div class="tw-flex tw-justify-center tw-items-center">
      <div
        class="logo elevate hover tw-top-0 tw-m-0 tw-p-0 tw-h-[150px] tw-w-[150px] md:tw-h-[200px] md:tw-w-[200px] tw-max-h-none tw-max-w-none"
        style="z-index: 100"
      ></div>
    </div>

    <h3>Bikers Beer Factory, Savska cesta 150, Zagreb</h3>
    <h3>Nedjelja, 21. svibnja od 18h</h3>
    <div class="tw-mt-4 tw-flex tw-justify-center tw-items-center">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2782.0071336410356!2d15.952880374531336!3d45.79108481157156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d691addd794d%3A0xafdaa054f66d6723!2sBikers%20Beer%20Factory!5e0!3m2!1sen!2sdk!4v1683749401135!5m2!1sen!2sdk"
        width="375"
        height="225"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>

  <section>
    <!--maps-->
    <div></div>
  </section>

  <section>
    <h2>Program:</h2>
    <div class="tw-flex tw-flex-col tw-gap-3">
      <div>
        <b>18:00</b> - Mađioničarska predstava za djecu by
        <span class="tw-underline tw-decoration-teal-300">Luka Vidović</span>
      </div>
      <div>
        <b>19:00</b> - Pub kviz o mačkama by
        <span class="tw-underline tw-decoration-teal-300">Morana Zibar</span>
      </div>
      <div>
        <b>21:00</b> - Live glazba by
        <span class="tw-underline tw-decoration-teal-300">Noa Rupčić</span>
      </div>
    </div>
  </section>

  <section>
    <h2>Prijave i ulaznice:</h2>
    <div class="tw-flex tw-flex-col tw-gap-3">
      <h3 class="tw-m-0 tw-mt-2">Mađioničarska predstava:</h3>
      <div>
        Za mađioničarsku predstavu: preporučena donacija 2 € po djetetu, prijave
        putem
        <a href="https://forms.gle/AtN3LURF1HoBaN8m8">Google obrasca</a>
      </div>
      <h3 class="tw-m-0">Pub kviz:</h3>
      <div>
        Preporučena kotizacija 10 € po timu (maksimalno 5 osoba u timu), prijave
        putem <a href="https://forms.gle/AtN3LURF1HoBaN8m8">Google obrasca</a>
      </div>
    </div>
  </section>

  <section>
    <h2>
      Kviz sponzoriraju <a>Amazinga</a>, <a>Gruntek</a>, <a>Biljkoborci</a>
    </h2>
  </section>

  <section>
    <h2>Dodatne informacije:</h2>
    <div>
      Na eventu će biti moguće kupiti merch Hrabrih njuški, te će se prikupljati
      donacije hrane i potrepština za mačke.
    </div>
    <div>Kućni ljubimci dobrodošli!</div>

    <h2>O udruzi Hrabre njuške:</h2>
    <div>
      Hrabre njuške je neprofitna udruga za dobrobit i zaštitu životinja,
      osnovana u svibnju 2018. godine u Zagrebu. Udrugu čine volonteri koji
      spašavaju ranjene, bolesne i neželjene životinje s ulice, liječe ih i
      traže im domove. Sve životinje su smještene u volonterskim stanovima, jer
      udruga nema azil niti sklonište. Hrabre njuške se financiraju isključivo
      putem donacija građana, bez financijske potpore grada ili države. Od
      osnutka je spašeno i udomljeno više od 500 mačaka i pasa.
    </div>
  </section>

  <section>
    <h2>Kako podržati Hrabre njuške:</h2>
    <ul>
      <li>
        <div>Direktnom uplatom na račun udruge:</div>
        <ul>
          <li>IBAN: HR4223400091110951628</li>
          <li>PayPal: hrabre.njuske1@gmail.com</li>
        </ul>
      </li>
      <li>Donacijom hrane i potrepština za mačke</li>
      <li>Plaćanje dijela računa direktno kod veterinara</li>
    </ul>
  </section>

  <section>
    <h2>
      Pratite nas i podržite na društvenim mrežama
      <div>Facebook, instagram</div>
    </h2>

    <div>
      Za dodatne informacije javite se na e-mail: hrabre.njuske@gmail.com ili
      putem društvenih mreža.
    </div>
  </section>
</article>
