<div id="bulk-image-form" class="container" fxLayout="column" fxLayoutGap="1rem" #scrollingBlock>

  <form [formGroup]="auction" class="mt-5 auction-form section" fxLayout="row" fxLayoutGap="2rem" fxLayout.lt-md="column">

      <div id="basic-data" fxFlex fxLayout="column" fxLayoutGap="1rem">
        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between center">
          <h1>Aukcija</h1>
          <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!isValid">Spremi</button>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="1rem">
          <mat-form-field fxFlex="2 1 100%">
            <mat-label>Naziv</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field fxFlex="1 2 100%">
            <mat-label>Trajanje aukcije</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matInput matStartDate placeholder="Početak" formControlName="startDate">
              <input matInput matEndDate placeholder="Kraj" formControlName="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker [touchUi]="isMobile">
            </mat-date-range-picker>
          </mat-form-field>

          <div class="w-100" fxLayout="row" fxLayoutGap="3rem" fxLayout.lt-lg="column" fxLayoutGap.lt-lg="2rem">
            <div id="start-time" fxLayout="row" fxLayoutGap="0.5rem">
              <label class="center pb-0 mb-0" for="startTime">Početak:</label>
              <ngx-timepicker-field [defaultTime]="'12:00 pm'" [format]="24" formControlName="startTime">
              </ngx-timepicker-field>
            </div>
            <div id="end-time" fxLayout="row" fxLayoutGap="0.5rem">
              <label class="center pb-0 mb-0" for="endTime">Kraj:</label>
              <ngx-timepicker-field [defaultTime]="'12:00 pm'" [format]="24" formControlName="endTime">
              </ngx-timepicker-field>
            </div>
          </div>

        </div>
      </div>

      <div id="description" fxFlex fxLayout="column" fxLayoutGap="1rem">
        <div class="mat-title bold">Opis aukcije</div>
        <quill-editor class="editor w-100" [placeholder]="'Opis predmeta'" formControlName="description"></quill-editor>
      </div>

  </form>


  <div class="items-form h-100" fxLayout="column" fxLayoutGap="1rem">

    <div class="items-header" fxLayout="row">
      <div class="section" fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row" fxLayoutGap="1rem"
        fxLayoutAlign="space-between center">
        <h1>Slike</h1>
      </div>
    </div>

    <div id="dropzone" fxLayout="row">
      <div class="media w-100"  fxFlex="100%" fxFlex.lt-md="100%">

        <mat-progress-bar *ngIf="(uploadState$ | async)" mode="indeterminate"></mat-progress-bar>

        <ngx-dropzone class="auction-item-media-dropzone pb-0" (change)="uploadFiles($event)"
          [disableClick]="dragActive" [expandable]="true">

          <ngx-dropzone-label *ngIf="files?.length == 0">
            <button mat-stroked-button type='button'>Učitaj</button>
          </ngx-dropzone-label>

          <!-- <drag-scroll class="form-drag-scroll" *ngIf="files?.length > 0" [drag-scroll-x-disabled]="true"
            [snap-disabled]="true" (dragStart)="dragActive=true" (dragEnd)="dragEnd()" fxLayout="row"> -->

            <div class="item-image" drag-scroll-item *ngFor="let file of files">

              <ng-container *ngIf="file.url as url">
                <img *ngIf="file.type == 'image'" [src]="url" />
                <video *ngIf="file.type == 'video'" [src]="url"></video>
                <button id="remove-file-btn" type="button" mat-icon-button color="warn"
                  (click)="removeFile(file, url, $event)">
                  <mat-icon>close</mat-icon>
                </button>
              </ng-container>

            </div>

          <!-- </drag-scroll> -->

        </ngx-dropzone>
      </div>
    </div>
  </div>

</div>
