.item {
    min-width: 30rem;
}

@media(max-width: 600px) {
    .item {
        min-width: 100%;
    }
}

.container {
    position: relative;
    
    .close-btn {
        position: absolute;
        left: 17.5rem;
        z-index: 100;
        top: -0.5rem;
    }
}