.item {
    min-width: 30rem;
}

@media(max-width: 600px) {
    .item {
        min-width: 100%;
    }
}

.container {
    position: relative;

    width: 100%;

    app-single-item {
      width: 100%;
      .container {
        width: 100%;
        app-item-details {
          width: 100%;
          .auction-item {
            width: 100%;
          }
        }
      }
    }

    .close-btn {
        position: absolute;
        left: 17.5rem;
        z-index: 100;
        top: -0.5rem;
    }
}

