<mat-card
  *ngIf="bootstrapped"
  @skipInitAnimation
  class="auction-item m-2 mat-elevation-z5 elevate hover-large primary"
  fxLayout="column"
  fxLayoutGap="1rem"
>
  <mat-card-title
    class="relative"
    style="height: 64px"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="1rem"
  >
    <!-- fxLayoutAlign="space-between center" -->
    <!-- [ngStyle]="{
      visibility:
        item.bid == item.startBid && !item.bidId ? 'hidden' : 'visible'
    }" -->

    <label
      class="mb-0 mat-title bold"
      [ngClass]="{ 'mat-body': mediaObs.isActive('lt-sm') }"
    >
      {{ item.name }}
    </label>

    <div fxLayout="column" class="mr-0 relative">
      <div class="mat-small text-center no-wrap" style="background: whitesmoke">
        Trenutna ponuda
      </div>

      <label
        class="mat-title absolute"
        [ngClass]="{ 'mat-body': mediaObs.isActive('lt-sm') }"
        [@priceOnBidChanged]="(topBidChanged$ | async) ? 'change' : 'no-change'"
        class="no-wrap mb-0 mat-title bold center"
      >
        {{ (item.user ? item.bid : item.startBid) | moneyAsync | async }}
      </label>
    </div>
  </mat-card-title>

  <ng-container id="tags">
    <div
      class="best-bid-label background warn lighter mat-small"
      *ngIf="userId == item.user && isAuthenticated"
      [@fadeIn]="userId === item.user && isAuthenticated"
    >
      Vaša ponuda je trenutno najbolja
    </div>
    <div
      class="best-bid-label background primary lighter mat-small"
      *ngIf="item.bid == item.startBid && !item.bidId"
    >
      Još nije dana niti jedna ponuda
    </div>
  </ng-container>

  <app-item-media
    id="picture"
    class="mat-card-image"
    [media]="item.media"
    [galleryId]="item.id"
    [auctionId]="item.auctionId"
  ></app-item-media>

  <mat-card-content id="description" class="m-0" style="height: 44px">
    <div
      *ngIf="item.description; else noDescription"
      fxLayout="row"
      fxLayoutGap="0.5rem"
      fxLayoutAlign="start center"
    >
      <span
        #description
        class="truncated"
        [innerHtml]="item.description"
      ></span>
      <a
        *ngIf="isTruncated(description)"
        mat-stroked-button
        color="accent"
        fxFlexAlign="end"
        class="mt-2 pointer"
        (click)="onShowDescription(item.description)"
      >
        Više
      </a>
    </div>

    <ng-template #noDescription>
      <div class="center w-100">
        <i>Nema opisa predmeta</i>
      </div>
    </ng-template>
  </mat-card-content>

  <mat-card-actions
    id="actions"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div
      id="slider-row"
      class="w-100 mb-3"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <button
        class="mr-5 offer-button"
        mat-icon-button
        color="warn"
        (click)="currentBid = currentBid - 5"
        [disabled]="currentBid == item.bid"
      >
        <mat-icon>remove</mat-icon>
      </button>

      <div
        class="mat-title m-0 bold"
        [ngClass]="{ 'foreground accent default': currentBid != item.bid }"
      >
        {{ currentBid | moneyAsync | async }}
      </div>

      <button
        class="ml-5 offer-button"
        mat-icon-button
        color="primary"
        (click)="currentBid = currentBid + 5"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <button
      class="w-100"
      mat-flat-button
      [disabled]="bidDisabled || currentBid <= item.bid"
      type="button"
      (click)="onBid(item)"
      color="primary"
    >
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
        <mat-icon> pets </mat-icon> <span>Ponudi</span>
        <mat-icon> pets </mat-icon>
      </div>
    </button>
  </mat-card-actions>
</mat-card>
