.header {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 500;
    display: flex;
}

.mat-card-image{
    
    // height: 400px;
    height: 300px;
    display: flex;

    img, video {
        width: 100%;
    }
}
@media(max-width: 600px) {
    .mat-card-image {
        height: 200px;
    }
}

.footer {
    position: relative;
    bottom: 0;
}

.best-bid-icon {
    position: absolute;
    right: 0px;
    top: -22px;
    font-size: 2.5rem;
    color: #f9d935;
}

