<mat-card *ngIf="bootstrapped" @skipInitAnimation class="m-2 mat-elevation-z5" fxLayout="column" fxLayoutGap="1rem">

    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">

        <label class="mb-0 mat-title bold">
            {{item.name}}
        </label>

        <div fxLayout="column" class="mr-0">
            <div class="mat-small text-center no-wrap" style="background: whitesmoke">Trenutna ponuda</div>

            <label class="mat-title" [@priceOnBidChanged]="topBidChanged ? 'change' : 'no-change'"
                class="no-wrap mb-0 mat-title bold center">
                {{item.bid + ' kn'}}
            </label>
        </div>
        <!--
        <mat-icon class="best-bid-icon"
            [@starOnBidChanged]="userId === item.user && isAuthenticated"
            *ngIf="userId == item.user && isAuthenticated"
            matTooltip="Tvoja ponuda je najbolja" [matTooltipPosition]="'before'">
            star
        </mat-icon> -->

    </mat-card-title>

    <div class="best-bid-label background warn lighter mat-small" [@fadeIn]="userId === item.user && isAuthenticated"
        *ngIf="userId == item.user && isAuthenticated">
        Vaša ponuda je trenutno najbolja
    </div>
    <div class="best-bid-label background primary lighter mat-small"
        *ngIf="item.bid == item.startBid && !item.bidId">
        Još nije dana niti jedna ponuda
    </div>
    <app-item-media class="mat-card-image" [media]="item.media" [galleryId]="item.id"></app-item-media>

    <mat-card-content class="m-0" style="height: 44px">
        <div *ngIf="item.description; else noDescription" fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
          <span #description class="truncated" [innerHtml]="item.description"></span>
          <a *ngIf="isTruncated(description)" mat-stroked-button color="accent" fxFlexAlign="end" class="mt-2 pointer" (click)="onShowDescription(item.description)">
            Više
          </a>
        </div>

        <ng-template #noDescription>
          <div class="center w-100">
            <i>Nema opisa predmeta</i>
          </div>
        </ng-template>

        <!-- <button class="w-100"
        mat-stroked-button color="primary"
        [ngStyle]="{'visibility': (!item.description || item.description == '') ? 'hidden' : 'visible' }"
        (click)="onShowDescription(item.description)">
            Prikaži opis predmeta
        </button> -->

        <!-- <app-truncated-text class="text" [text]="item.description" [fallbackText]="'Nema opisa predmeta'"></app-truncated-text> -->
    </mat-card-content>

    <mat-card-actions fxLayout="column" fxLayoutAlign="center center">

        <div id="slider-row" class="w-100 mb-3" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="17" class="center mr-1">
                <mat-small>{{(item.bid + 5) + ' kn'}}</mat-small>
            </div>

            <mat-slider fxFlex="60" class="bid-slider" color="primary" #bidSlider [displayWith]="formatBid"
                [step]="bidStepSize" [min]="item.bid + 5" [max]="item.bid + 30" [value]="bidSlider.min"
                (input)="bidChange($event)" [thumbLabel]="true">
            </mat-slider>

            <div fxFlex="23" class="center ml-1" style="position: relative">
                <mat-form-field id="item-max-price-control">
                    <input matInput type="number" [formControl]="currentBidControl">
                    <span matSuffix class="ml-1">kn</span>

                    <div class="bid-errors"
                        *ngIf="currentBidControl.invalid && (currentBidControl.dirty || currentBidControl.touched)">
                        <div *ngIf="currentBidControl.errors.required">
                            Nedostaje cijena
                        </div>
                        <div *ngIf="currentBidControl.errors.decimal">
                            Cijena mora biti prirodan broj
                        </div>
                        <div *ngIf="currentBidControl.errors.min">
                            Nova ponuda mora biti barem 5kn viša od trenutne
                        </div>
                    </div>
                </mat-form-field>

            </div>
        </div>

        <div id="btns-row" class="w-100" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between center">

            <button class="w-100" mat-flat-button [disabled]="bidDisabled" type="button" (click)="onBid(item)" color="primary">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
                <mat-icon>
                  pets
                </mat-icon>
                <span>Ponudi</span>
                <mat-icon>
                  pets
                </mat-icon>
              </div>

            </button>
        </div>
    </mat-card-actions>
</mat-card>
