<mat-toolbar class="h-10 flex flex-row justify-between" color="primary">
   <!-- <div id="actions" class="flex flex-row w-32">
        <button class="hidden lg:flex" mat-icon-button [matMenuTriggerFor]="navMenu" matTooltip="Navigacija">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #navMenu="matMenu">
                 <ng-container *ngTemplateOutlet="navBtn; context: { menu: true, icon: 'home', route: '/pocetna', name: 'Početna' }" ></ng-container>
                 <ng-container *ngTemplateOutlet="navBtn; context: { menu: true, icon: 'newspaper', route: '/blog', name: 'Blog' }" ></ng-container>
                 <ng-container *ngTemplateOutlet="navBtn; context: { menu: true, icon: 'storefront', route: '/merch', name: 'Merch' }" ></ng-container>
                 @if (admin$ | async) {
                <ng-container
                    *ngTemplateOutlet="navBtn; context: { menu: true, icon: 'pets', route: '/udomi', name: 'Udomi' }"
                ></ng-container>
            }
            <ng-container
                *ngTemplateOutlet="
                    navBtn;
                    context: { menu: true, icon: 'volunteer_activism', route: '/aukcije', name: 'Aukcije' }
                "
            ></ng-container>
        </mat-menu>
        <span class="flex lg:hidden gap-4">
                 <ng-container *ngTemplateOutlet="navBtn; context: { icon: 'home', route: '/pocetna', name: 'Početna' }" ></ng-container>
                 <ng-container *ngTemplateOutlet="navBtn; context: { icon: 'newspaper', route: '/blog', name: 'Blog' }" ></ng-container>
                 <ng-container *ngTemplateOutlet="navBtn; context: { icon: 'storefront', route: '/merch', name: 'Merch' }" ></ng-container>
                  @if (admin$ | async) {
                <ng-container
                    *ngTemplateOutlet="navBtn; context: { icon: 'pets', route: '/udomi', name: 'Udomi' }"
                ></ng-container>
            }
            <ng-container
                *ngTemplateOutlet="navBtn; context: { icon: 'volunteer_activism', route: '/aukcije', name: 'Aukcije' }"
            ></ng-container>
        </span>
    </div> -->

    <div
        id="logo"
        (click)="onLogoClick()"
        class="flex flex-row gap-4 justify-center items-center flex-auto logo-center z-50"
    >
        <div #logo class="logo elevate hover z-[100]" [ngClass]="{ 'cursor-pointer': !rootRoute }" [hidden]="clickFlag">
            <mat-progress-spinner *ngIf="active$ | async" class="spinner" mode="indeterminate" color="accent">
            </mat-progress-spinner>
        </div>

        <!--When we click, stick with animation a bit longer-->
        <div class="logo-animated" [hidden]="!clickFlag"></div>
    </div>

    <div id="user-profile" class="user-auth h-full relative flex flex-row justify-end items-center gap-2">
        <button mat-icon-button *ngIf="admin$ | async; info" matTooltip="Administracija" [matMenuTriggerFor]="adminMenu">
            <mat-icon>admin_panel_settings</mat-icon>
        </button>
        <mat-menu #adminMenu="matMenu">
            <button mat-menu-item (click)="onCreateAuctionThroughImages()">
                <mat-icon matPrefix> add </mat-icon>
                <span class="mat-small">Napravi aukciju</span>
            </button>
            <button mat-menu-item routerLink="/aukcije/administracija">
                <mat-icon matPrefix> admin_panel_settings </mat-icon>
                <span class="mat-small">Admin sučelje</span>
            </button>
            <!-- <button mat-menu-item routerLink="/blog">
                <mat-icon matPrefix> storefront </mat-icon>
                <span class="mat-small">Blog (vNext)</span>
            </button>
            <button mat-menu-item routerLink="/merch">
                <mat-icon matPrefix> newspaper </mat-icon>
                <span class="mat-small">Shop (vNext)</span>
            </button> -->
        </mat-menu>

        <ng-template #info>
            <button mat-icon-button matTooltip="Polica privatnosti" routerLink="/aukcije/polica-privatnosti">
                <mat-icon>policy</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Pravila aukcije" routerLink="/aukcije/pravila">
                <mat-icon>info</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Pomoć" (click)="onShowContactHelp()">
                <mat-icon>help</mat-icon>
            </button>
        </ng-template>

        <button *ngIf="!(user$ | async)" mat-stroked-button class="p-0" (click)="onLogin()">Prijava</button>
        <ng-container *ngIf="user$ | async as user">
            <img
                *ngIf="user?.photoURL; else noPhoto"
                class="avatar cursor-pointer elevate hover default"
                src="{{ user.photoURL }}"
                matTooltip="{{ user.displayName }}"
                [matMenuTriggerFor]="profileMenu"
            />

            <ng-template #noPhoto>
                <img
                    id="anonymous"
                    matTooltip="{{ (userInfo$ | async)?.displayName }}"
                    class="avatar cursor-pointer elevate hover-large mat-elevation-z2"
                    src="assets/placeholders/anonymous.svg"
                    [matMenuTriggerFor]="profileMenu"
                />
            </ng-template>

            <mat-menu #profileMenu="matMenu">
                <button
                    mat-menu-item
                    routerLink="/aukcije/moji-predmeti"
                    gaEvent="my_items_click"
                    gaCategory="items_tracking"
                >
                    <mat-icon matPrefix> redeem </mat-icon>
                    Moji predmeti
                </button>
                <button mat-menu-item (click)="onShowContactHelp()">
                    <mat-icon>help</mat-icon>
                    Pomoć
                </button>
                <button mat-menu-item (click)="onChangeEmail()">
                    <mat-icon>mail</mat-icon>
                    Promijeni e-mail
                </button>
                <button mat-menu-item [routerLink]="['email-postavke']">
                    <mat-icon>notifications_active</mat-icon>
                    Postavke notifikacija
                </button>
                <button mat-menu-item (click)="onLogout()">
                    <mat-icon matPrefix> exit_to_app </mat-icon>
                    Odjava
                </button>
            </mat-menu>
        </ng-container>
    </div>
</mat-toolbar>

<mat-tab-group *ngIf="itemScrollViewSvc.show" #galleryTabs mat-stretch-tabs (selectedTabChange)="onGalleryTabChange($event)">
    <mat-tab label="grid">
        <ng-template mat-tab-label>
            <mat-icon color="warn" class="example-tab-icon">view_module</mat-icon>
        </ng-template>
    </mat-tab>
    <mat-tab label="items">
        <ng-template mat-tab-label>
            <mat-icon color="warn" class="example-tab-icon">view_sidebar</mat-icon>
        </ng-template>
    </mat-tab>
</mat-tab-group>

<ng-template #navBtn let-route="route" let-icon="icon" let-name="name" let-menu="menu">
    <button
        *ngIf="!menu"
        mat-button
        class="nav-button shadow-md hover:shadow-xl"
        [routerLink]="[route]"
        [routerLinkActiveOptions]="{
            paths: 'subset',
            fragment: 'exact',
            matrixParams: 'exact',
            queryParams: 'exact'
        }"
        routerLinkActive="mat-mdc-button mat-mdc-raised-button"
    >
        <mat-icon matPrefix>{{ icon }}</mat-icon>
        {{ name }}
    </button>

    <button
        *ngIf="menu"
        mat-menu-item
        [routerLink]="[route]"
        [routerLinkActiveOptions]="{
            paths: 'subset',
            fragment: 'exact',
            matrixParams: 'exact',
            queryParams: 'exact'
        }"
        routerLinkActive="bg-zinc-200"
    >
        <mat-icon matPrefix>{{ icon }}</mat-icon>
        {{ name }}
    </button>
</ng-template>
