virtual-scroller {
    height: 100%;
    width: 100%;
}

@media(max-width: 600px) {
    .container {
        height: calc(100% - 56px - 1.5rem) !important;
    }
}
.items-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    gap: 0.5rem;

    padding: 0.25rem;
    padding-top: 0.5rem;
}