<div class="container" fxLayout="column">
    <h1 fxAlign="center" class="mb-3">Polica privatnosti</h1>

    <p>
        Hrabrim njuškama je jedan od glavnih prioriteta privatnost posjetitelja. 
        Ovaj dokument sadrži informacije o vrstama podataka koje se prikupljaju i bilježe te na koji način se oni koriste.
    </p>

    <p>
        Ukoliko imate pitanja ili želite više informacija o našoj Polici privatnosti, ne ustručavajte se kontaktirati nas.
    </p>

    <p>
        Ova <i>Polica privatnosti</i> primjenjuje se samo na mrežne aktivnosti i vrijede za posjetitelje naše web 
        stranice s obzirom na podatke koje su podijelili. Ovo se pravilo ne odnosi na bilo koje informacije prikupljene 
        izvan mreže ili putem kanala koji nisu ova web stranica.
    </p>

    <h2>Pristanak</h2>

    <p>
        Korištenjem naše web stranice pristajete na našu <i>Policu privatnosti</i> i njene uvjete.
    </p>

    <h2>Podaci koje prikupljamo</h2>

    <p>
        Prilikom prijave (registracije) preko pružatelja usluga <i>Google</i> ili <i>Facebook</i> tražimo da s nama podijelite sljedeće podatke:
    </p>

    <ul>
        <li>Ime i prezime</li>
        <li>Sliku profila</li>
        <li>E-email</li>
    </ul>

    <p>
        Prilikom registracije putem e-emaila ne tražimo dodatne podatke osim vašeg e-emaila.
    </p>

    <h2>Kako koristimo vaše podatke</h2>

    <p>Vaše podatke koristimo na više načina:</p>

    <ul>
        <li>
            Komunikacija o nadolazećim ili gotovim aukcijama
        </li>
        <li>
            Komunikacija o dobivenim predmetima
        </li>
        <li>
            Komunikacija o nadmašenim ponudama
        </li>
        <li>
            Poboljšavanje, prilagodba i proširenje naše web stranice
        </li>
        <li>
            Razumijevanja kako koristite našu web stranicu
        </li>
        <li>
            Razvoj novih usluga i funkcionalnosti
        </li>
    </ul>

    <h2>Kolačići</h2>

    <p>
        Kao i druge web stranice, Hrabre Njuške koriste <i>kolačiće</i>.
        Kolačići se koriste za pohranu podataka kako bi vam pružili ugodnije korisničko iskustvo na našoj web stranici.
        Poput automatske prijave s istog uređaja.
    </p>

    <p>
        Za općenitije podatke o kolačićima pročitajte
        <a href="https://www.cookieconsent.com/what-are-cookies/">"Što su kolačići" od Cookie Consent</a>.
    </p>

    <h2>Google, Facebook</h2>

    <p>
        Google i Facebook, kao neki od naših vanjskih pružatelja usluga prijave, također koriste kolačiće.
    </p>

    <h2>Polica privatnosti od vanjskih pružatelja usluga</h2>

    <p>
        <i>Polica privatnosti</i> od Hrabrih Njuški se ne primjenjuje na druge pružatelje usluga ili web stranice.
        Savjetujemo da detaljno pretražite <i>Police privatnosti</i> vanjskih pružatelja usluga.
    </p>

    <p> 
        Kolačić možete onemogućiti putem pojedinačnih opcija preglednika. 
        Da biste saznali detaljnije informacije o upravljanju kolačićima s određenim 
        web preglednicima, možete ih pronaći na odgovarajućim web mjestima preglednika.
    </p>

    <h2> 
        GDPR prava na zaštitu podataka
     </h2>

    <p> 
        Željeli bismo biti sigurni da ste u potpunosti svjesni svih svojih prava na zaštitu podataka. Svaki korisnik ima
        pravo na sljedeće: 
    </p>

    <ul>
        <li>Pravo na pristup - Imate pravo zatražiti kopije svojih osobnih podataka.</li>
        <li>Pravo na ispravak - imate pravo zatražiti da ispravimo sve podatke za koje smatrate da su netočni. Također
            imate pravo zatražiti da upotpunimo podatke za koje smatrate da su nepotpuni.</li>
        <li>Pravo na brisanje - imate pravo zatražiti da izbrišemo vaše osobne podatke, pod određenim uvjetima.</li>
        <li>Pravo na ograničenje obrade - Imate pravo zahtijevati da ograničimo obradu vaših osobnih podataka, pod
            određenim uvjetima.</li>
        <li>Pravo prigovora na obradu - Imate pravo prigovora na našu obradu vaših osobnih podataka, pod određenim
            uvjetima. </li>
    </ul>

    <p> 
        Imamo mjesec dana da odgovorimo na podneseni zahtjev. Ukoliko želite ostvariti neko od ovih prava, kontaktirajte nas.
    </p>


    <h2> Informacije za djecu </h2>

    <p> 
        Drugi dio prioriteta nam je dodavanje zaštite djeci tijekom korištenja interneta. Potičemo roditelje i staratelje da promatraju, sudjeluju i / ili nadgledaju i vode njihove mrežne aktivnosti.
    </p>

    <p> 
        Hrabre njuške svjesno ne prikupljaju nikakve osobne podatke koji se mogu identificirati od djece mlađe od 13 godina. 
        Ako mislite da je vaše dijete dalo takvu vrstu podataka na našoj web stranici, preporučamo vam da nas odmah 
        kontaktirate kako bismo takve podatke uklonili iz naše evidencije.
    </p>
</div>