<div class="container flex flex-col gap-4" #scrollingBlock *ngIf="auction$ | async as auction">
    <div class="w-full flex justify-between">
        <button routerLink="/aukcije" class="btn-small self-start mx-2" mat-raised-button color="warn">
            <mat-icon>arrow_back</mat-icon>
            Natrag
        </button>

        <button
            routerLink="/aukcije/moji-predmeti"
            gaEvent="my_items_click"
            gaCategory="items_tracking"
            class="btn-small self-end mx-2"
            mat-raised-button
            color="primary"
        >
            Moji predmeti
        </button>
    </div>

    <div class="flex flex-row md:flex-col justify-between items-center gap-2">
        <div class="section flex flex-row justify-between items-center gap-4">
            <div class="mb-0 font-bold sm:text-lg md:text-xl text-2xl">
                {{ auction.name }}
            </div>
            <countdown *ngIf="config" #cd [config]="config" class="m-0 font-bold sm:text-lg md:text-xl text-2xl"></countdown>
        </div>

        <div class="section flex flex-row">
            <div class="mb-0 font-bold flex flex-row gap-6 sm:text-lg md:text-xl text-2xl">
                <label>Ukupno donirano:</label>
                <div class="foreground primary lighter" [@priceOnBidChanged]="moneyRaised ? 'change' : 'no-change'">
                    {{ auction.raisedMoney | moneyAsync | async }}
                </div>
            </div>
        </div>
    </div>

    <app-item-list [auction]="auction" [auctionId]="auction.id" [parentScroll]="scrollingBlock"></app-item-list>
</div>
