<div class="center mt-5" *ngIf="postDeliveryInfoForm && !success">
    <div class="section mw-100" style="width: 25rem" fxLayout="column" fxLayoutGap="1rem">
    
        <h1>Dostava poštom</h1>
    
        <form class="mt-3" [formGroup]="postDeliveryInfoForm">
            
            <mat-form-field>
                <mat-label>Ime i prezime</mat-label>
                <input matInput formControlName="fullName">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Adresa</mat-label>
                <input matInput formControlName="address">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Broj mobitela</mat-label>
                <input matInput formControlName="phoneNumber">
            </mat-form-field>
    
        </form>
    
        <button fxFlexAlign="end" mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!postDeliveryInfoForm.valid">Spremi</button>
        
    </div>
</div>

<div *ngIf="bootstrap && success" class="container" fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="start center">
    <div class="animation-ctn">
        <div class="icon icon--order-success svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="154px" height="154px">  
              <g fill="none" stroke="#22AE73" stroke-width="2"> 
                <circle cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
                <circle id="colored" fill="#22AE73" cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
                <polyline class="st0" stroke="#fff" stroke-width="10" points="43.5,77.8 63.7,97.9 112.2,49.4 " style="stroke-dasharray:100px, 100px; stroke-dashoffset: 200px;"/>   
              </g> 
            </svg>
          </div>
    </div>
    
    <h1>Hvala ti na potvrdi</h1>
</div>

<div *ngIf="bootstrap && !success">
  <h1>Nešto je pošlo po zlu i nismo mogli potvrditi preuzimanje poštom. Molim vas kontaktirajte nas kroz korisničku službu !</h1>
</div>