<mat-toolbar class="toolbar flex flex-row" color="primary">
  <div class="flex flex-row w-32">
    <button
      mat-icon-button
      *ngIf="admin$ | async; privacyPolicy"
      [matMenuTriggerFor]="adminMenu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item (click)="onCreateAuctionThroughImages()">
        <mat-icon matPrefix> add </mat-icon>
        <span class="mat-small">Napravi aukciju</span>
      </button>
      <button mat-menu-item routerLink="/aukcije/administracija">
        <mat-icon matPrefix> admin_panel_settings </mat-icon>
        <span class="mat-small">Admin sučelje</span>
      </button>
    </mat-menu>

    <ng-container *ngIf="!(admin$ | async)">
      <button
        mat-icon-button
        class="elevate hover default"
        matTooltip="Polica privatnosti"
        routerLink="/aukcije/polica-privatnosti"
      >
        <mat-icon>policy</mat-icon>
      </button>

      <button
        mat-icon-button
        class="elevate hover default"
        routerLink="/aukcije/pravila"
      >
        <mat-icon>info</mat-icon>
      </button>
    </ng-container>
  </div>

  <div class="flex flex-row gap-4 justify-center items-center">
    <div
      #logo
      class="logo elevate hover"
      style="z-index: 100"
      [ngClass]="{ pointer: !rootRoute }"
      (click)="onLogoClick()"
      [hidden]="clickFlag"
    >
      <mat-progress-spinner
        *ngIf="active$ | async"
        class="spinner"
        mode="indeterminate"
        color="accent"
      >
      </mat-progress-spinner>
    </div>

    <div class="logo-animated" [hidden]="!clickFlag"></div>
  </div>

  <div
    fxFlex="30"
    class="user-auth h-full relative flex flex-row justify-end items-center"
  >
    <button
      mat-icon-button
      class="elevate hover default"
      matTooltip="Pomoć"
      (click)="onShowContactHelp()"
    >
      <mat-icon>help</mat-icon>
    </button>

    <button
      *ngIf="!(user$ | async)"
      mat-stroked-button
      class="p-0"
      (click)="onLogin()"
    >
      Prijava
    </button>

    <ng-container *ngIf="user$ | async as user">
      <img
        *ngIf="user?.photoURL; else noPhoto"
        class="avatar pointer elevate hover default"
        src="{{ user.photoURL }}"
        matTooltip="{{ user.displayName }}"
        [matMenuTriggerFor]="profileMenu"
      />

      <ng-template #noPhoto>
        <img
          id="anonymous"
          matTooltip="{{ (userInfo$ | async)?.displayName }}"
          class="avatar pointer elevate hover-large mat-elevation-z2"
          src="assets/placeholders/anonymous.svg"
          [matMenuTriggerFor]="profileMenu"
        />
      </ng-template>

      <mat-menu #profileMenu="matMenu">
        <button
          mat-menu-item
          routerLink="/aukcije/moji-predmeti"
          gaEvent="my_items_click"
          gaCategory="items_tracking"
        >
          <mat-icon matPrefix> redeem </mat-icon>
          Moji predmeti
        </button>
        <button mat-menu-item (click)="onShowContactHelp()">
          <mat-icon>help</mat-icon>
          Pomoć
        </button>
        <button mat-menu-item (click)="onChangeEmail()">
          <mat-icon>mail</mat-icon>
          Promijeni e-mail
        </button>
        <button mat-menu-item [routerLink]="['email-iskljucenje']">
          <mat-icon>notifications_active</mat-icon>
          Postavke notifikacija
        </button>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon matPrefix> exit_to_app </mat-icon>
          Odjava
        </button>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>

<mat-tab-group
  *ngIf="itemScrollViewSvc.show"
  #tabs
  mat-stretch-tabs
  (selectedTabChange)="onTabChange($event)"
>
  <mat-tab label="grid">
    <ng-template mat-tab-label>
      <mat-icon color="warn" class="example-tab-icon">view_module</mat-icon>
    </ng-template>
  </mat-tab>
  <mat-tab label="items">
    <ng-template mat-tab-label>
      <mat-icon color="warn" class="example-tab-icon">view_sidebar</mat-icon>
    </ng-template>
  </mat-tab>
</mat-tab-group>
