@use '~@angular/cdk';

// autofill - https://material.angular.io/cdk/text-field/overview
@mixin autofill-theme($theme) {
  .theme-light {
    input {
      @include cdk.text-field-autofill-color(transparent, black);
    }
  }

  .theme-dark {
    input {
      @include cdk.text-field-autofill-color(transparent, white);
    }
  }
}
