@import "~@angular/material/theming";

@mixin random-theme($theme) {
    $warn: mat-color(map-get($theme, warn), default);

    .bid-errors {
        color: $warn;
        background: white;
        border: 1px solid $warn;
        padding: 10px;
        border-radius: 15px;
        border-bottom-right-radius: 0px !important;
        z-index: 10;
        width: max-content;

        @include mat-elevation(4);

        position: absolute;
        bottom: 3.3rem;
        right: 3.1rem;
    }

    .background {
        &.warn.lighter {
            background: mat-color(map-get($theme, warn), 50) !important;
        }

        &.primary.lighter {
            background: mat-color(map-get($theme, primary), 50) !important;
        }
    }

    .foreground {
        &.warn.default {
            color: mat-color(map-get($theme, warn), "default") !important;
        }

        &.primary.lighter {
            color: mat-color(map-get($theme, primary), "default") !important;
        }
    }

    .spinner {
        position: relative;
        top: -8px;
        left: -8px;
        z-index: 100000;

        width: 106px;
        height: 106px;

        svg {
            width: 106px !important;
            height: 106px !important;

            circle {
                stroke-width: 5px !important;
            }
        }
    }
}
