@mixin width-mixin($percentage) {
  &-#{$percentage} {
    width: unquote($percentage + "%") !important;
  }
}
@mixin max-width-mixin($percentage) {
  &-#{$percentage} {
    max-width: unquote($percentage + "%") !important;
  }
}
@mixin height-mixin($percentage) {
  &-#{$percentage} {
    height: unquote($percentage + "%") !important;
  }
}
@mixin max-height-mixin($percentage) {
  &-#{$percentage} {
    max-height: unquote($percentage + "%") !important;
  }
}

.w {
  $percentage: 0;
  @while $percentage <= 100 {
    @include width-mixin($percentage);
    $percentage: $percentage + 1;
  }
}
.mw {
  $percentage: 0;
  @while $percentage <= 100 {
    @include max-width-mixin($percentage);
    $percentage: $percentage + 1;
  }
}
.h {
  $percentage: 0;
  @while $percentage <= 100 {
    @include height-mixin($percentage);
    $percentage: $percentage + 1;
  }
}
.hw {
  $percentage: 0;
  @while $percentage <= 100 {
    @include max-height-mixin($percentage);
    $percentage: $percentage + 5;
  }
}

.w-min {
  width: min-content !important;
}
.w-auto {
  width: auto !important;
}
.w-max {
  width: max-content !important;
}
.mw-auto {
  max-width: auto !important;
}

.h-auto {
  height: auto !important;
}
.mh-auto {
  max-height: auto !important;
}
