<div class="text" *ngIf="text; else fallback">
  <div [innerHtml]="text"></div>
</div>

<ng-template #truncated>
  <div [innerHtml]="text | truncate : characters"></div>
  <a
    mat-stroked-button
    color="accent"
    fxFlexAlign="end"
    *ngIf="text.length > characters"
    class="mt-2 pointer"
    (click)="showAll = true"
  >
    Prikaži više
  </a>
</ng-template>

<ng-template #full>
  <div [innerHtml]="text"></div>
  <a
    mat-stroked-button
    color="accent"
    fxFlexAlign="end"
    *ngIf="text.length > characters"
    class="mt-2 pointer"
    (click)="showAll = false"
  >
    Prikaži manje
  </a>
</ng-template>

<ng-template #fallback>
  <div class="text">
    <i>{{ fallbackText }}</i>
  </div>
</ng-template>
