<div class="container" fxLayout="column" fxLayoutAlign="center center">
    
    <button class="close-btn" mat-icon-button fxFlexAlign="end" (click)="onClose()">
        <mat-icon>
            close
        </mat-icon>
    </button>

    <div class="mb-3 w-50" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between center">
        <button mat-icon-button (click)="onClose('gmail')">
            <img style="width: 100%; height: auto" src="assets/social-logo/google.svg" />
        </button>
    
        <button mat-icon-button (click)="onClose('facebook')">
            <img style="width: 100%; height: auto" src="assets/social-logo/facebook.svg" />
        </button>
    </div>
</div>
