@use "@angular/material" as mat;
@import "@angular/material/theming";

@mixin random-theme($theme) {
  $warn: mat.get-color-from-palette(map-get($theme, warn), default);

  .bid-errors {
    color: $warn;
    background: white;
    border: 1px solid $warn;
    padding: 10px;
    border-radius: 15px;
    border-bottom-right-radius: 0px !important;
    z-index: 10;
    width: 205px;

    @include mat.elevation(4);

    position: absolute;
    bottom: 60px;
    right: 42px;
  }

  .background {
    &.warn.lighter {
      background: mat.get-color-from-palette(map-get($theme, warn),
          50) !important;
    }

    &.primary.lighter {
      background: mat.get-color-from-palette(map-get($theme, primary),
          50) !important;
    }
  }

  .foreground {
    &.warn.default {
      color: mat.get-color-from-palette(map-get($theme, warn),
          "default"
        ) !important;
    }

    &.primary.lighter {
      color: mat.get-color-from-palette(map-get($theme, primary),
          "default"
        ) !important;
    }
  }


  .item-dialog {
    mat-dialog-container {
      margin: 0 !important;
      padding: 0px !important;
      border-radius: 30px !important;
    }

    .container {
      margin: 0 !important;
      padding: 0 !important;

      mat-card {
        box-shadow: none;
      }
    }
  }

  .items-dialog {
    mat-dialog-container {
      margin: 0 !important;
      padding: 0px !important;
      overflow-y: hidden;
    }

    .container {
      margin: 0 !important;
      padding: 0 !important;

      mat-card {
        box-shadow: none;
      }

      app-item-list {
        padding-top: 33px !important;
      }
    }
  }

  .best-bid-icon {
    position: absolute;
    right: 0px;
    top: -22px;
    font-size: 2.5rem;
    color: #f9d935;
  }

  .best-bid-label {
    margin: 0 !important;
    width: 100%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 5rem;
    z-index: 100;
    right: 0px;
  }

  .dialog-no-padding {
    .mat-mdc-dialog-container {
      padding: 0 !important;
    }
  }

  .offer-button {
    $size: 50px;

    width: $size !important;
    height: $size !important;
    padding: 0px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;

    &>*[role="img"] {
      width: $size;
      height: $size;
      font-size: $size;

      svg {
        width: $size;
        height: $size;
      }
    }

    .mat-mdc-button-touch-target {
      width: $size !important;
      height: $size !important;
    }
  }

  .full-width {
    .message {
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .dialog {
    &.no-padding {
      .mat-mdc-dialog-container {
        padding: 0 !important;
      }
    }

    &.no-overflow {
      .mat-mdc-dialog-container {
        overflow: hidden !important;
      }
    }
  }

  .ng-animating div mat-accordion mat-expansion-panel mat-expansion-panel-header {
    height: 48px;
  }

  .ng-animating div mat-accordion mat-expansion-panel div.mat-expansion-panel-content {
    height: 0px;
    visibility: hidden;
  }

  .winners-admin-auctions-dialog {
    .mat-mdc-dialog-container {
      overflow-y: hidden !important;
    }
  }
}