<div class="container mt-5 mb-5" fxLayout="row" fxLayoutGap="0rem" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="3rem">
    
    <div id="auction-list" fxFlex="50%" fxFlex.lt-lg="50%" fxFlex.lt-sm="100%" fxLayout="column" fxLayoutGap="0.5rem">

        <ng-container *ngIf="(auctions$ | async) as auctions">
            <div @staggerFadeIn *ngIf="auctions?.length > 0; else noAuctions">

                <mat-card *ngFor="let auction of auctions" class="pointer background lighter hover-elevate mb-2" (click)="onClick(auction)" 
                [ngClass]="{'mr-5': mediaObs.isActive('gt-xs'), 'warn': getAuctionState(auction) == 'expired','primary': getAuctionState(auction) == 'future'}">

                    <mat-card-header fxLayout="row" fxLayoutAlign="space-between">

                        <mat-card-title>
                            {{auction.name}}
                        
                            <!--Subtitle states-->
                            <ng-container [ngSwitch]="getAuctionState(auction)">
                                <mat-card-subtitle *ngSwitchCase="'future'">
                                    Poćinje: {{ auction.startDate.toDate() | date: 'MMM d, h:mm:ss' }}
                                </mat-card-subtitle>
                                <mat-card-subtitle *ngSwitchCase="'expired'">
                                    Završila: {{ auction.endDate.toDate() | date: 'MMM d, h:mm:ss' }}
                                </mat-card-subtitle>
                                <mat-card-subtitle *ngSwitchDefault>
                                    Traje do: {{ auction.endDate.toDate() | date: 'MMM d, h:mm:ss' }}
                                </mat-card-subtitle>
                            </ng-container>

                        </mat-card-title>
                        
                        <div fxLayout="Row" >
                            <button *ngIf="(admin$ | async)" mat-icon-button color="primary" (click)="onViewBids(auction, $event)">
                                <mat-icon>shopping_cart</mat-icon>
                            </button>
                            <button *ngIf="(admin$ | async)" mat-icon-button color="primary" (click)="onEdit(auction, $event)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button *ngIf="(admin$ | async)" mat-icon-button color="warn" (click)="onDelete(auction, $event)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-card-header>

                </mat-card>
                
            </div>
        </ng-container>
        
        
        <ng-template #noAuctions>
            <i class="custom-font center mat-title">Trenutno nema aktivnih aukcija</i>
        </ng-template>
    </div>

    <div id="reason-donate" fxFlex fxLayout="column" fxLayoutGap="3rem" fxLayoutAlign="start center">
        <app-donate *ngIf="bootstrapDonateComponent" @fadeIn></app-donate>
    </div>
</div>
