.container-grid {
    display: grid;
    grid-template-rows: minmax(0, auto) minmax(0, 1fr);
    gap: 1rem;
    
    .auctions-grid {
        margin-top: 3rem;

        display: grid;
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        gap: 1rem;

        #auctions {
            overflow: auto;
            max-height: 35rem;
            padding: 0.5rem;
        }

        #donate {
            padding: 0.5rem
        }
    }
    
    @media(max-width: 600px) {
        .auctions-grid {
            padding: 0;
            grid-template-columns: minmax(0px, 1fr);
            gap: 2rem;
        }
    }
}

@media(max-width: 600px) {
    .container-grid {
        display: flex;
        flex-direction: column;
        #ads {
            margin-top: 2rem;
        }
    }
}